/* Custom styles for Dashboard */

.App {
    position: relative;
  }
  
  header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;  
  }
  
  .banner {
    margin-top: -20px;  
    z-index: 1;
  }